.find{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    margin-right: 30%;
}

.login-system{
    display: flex;
    justify-content: end;
}

.etc-member{
    display : flex;
    content:10px;
}
