.container{
    width: 1100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.good{
    color: green;
}

.bad{
    color: red;
}
