*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 1200px;
    display: flex;
    flex-direction: column;
}


header{
    flex-basis: 10%;
    position: sticky;
    top: 0;
    background-color: white;
}

header > section:nth-child(1) {
    /* border: 3px solid red; */
    /* position: sticky;
    top: 0; */
}




a{
    text-decoration: none;
    color: black;
}

p {
    font-weight: bold;
    
}

button{
    cursor: pointer;
}

















.navSection{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: sticky;
    
}

/* 
@media (max-width: 800px) {
    .navSection {
      background-color: tomato;
    }
  } */



/* 로고영역 */


.home-logo{
    /* border:1px solid blue; */
    display: flex;
    flex-basis: 5%; 
    padding-top: 20px;  
}

#pageLogo{
    scale: 130%;
}

.menu{
    /* border:1px solid green; */
    flex-basis: 25%;
}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}



/* 로고 영역 끝 */



/* 검색바 영역  */


.search{
    flex-basis: 30%;
    display: flex;
    /* border:1px solid blue; */
    justify-content: flex-end;
}


#search-fieldSet{
    
    border:none;
    background-color: transparent;
    width: 100%;
}

.search button{
    border:none;
    background-color: transparent;
    scale: 130%;
}

.search input{
    height: 25px;
    outline: none;
}

i {
    border:none;
    cursor: pointer;
    background-color: transparent;

}

#query{
    visibility: hidden;
    transition-duration: 1s;
    width: 0px;
}


/* 검색바 영역 끝 */





/* 장바구니  영역 시작 */

.cart{
    
    display: flex;
    /* border: 1px solid blue; */
    flex-basis: 30%;
    justify-content: center;
}

.cart a{
    padding-right: 25px;
    padding-left:25px;
}


.cart > a:nth-child(4){
    scale: 110%;
}



#cart-button{
    background-color: transparent;
    border:none;
    padding-left: 10px;
    padding-right: 30px;
    scale: 110%;
}


/* 장바구니 영역 끝 */





/* aside-area 영역 */


.content-container{
    height: 80%;
    display: flex;
}

.right{
    flex-basis:80%;
    height: 100%;
}

/* 왼쪾 영역 나누기 */

.left{
    border-right:  1px solid rgba(0,0,0,0.2);
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

.middle-area{
    margin-top: 55px;
}

.left > div:nth-child(1){
    flex-basis: 2%;
    
    
}

.left > div:nth-child(2){
    flex-basis: 96%;
    
}

.left > div:nth-child(3){
    flex-basis: 2%;
}


.middle-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-area > div:nth-child(1){
    flex-basis:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-area > div:nth-child(1) > p{
    text-decoration: underline;
    display: flex;
    padding-bottom: 25px;
}



.middle-area > div:nth-child(1) a{
    display: flex;
    padding-bottom: 25px;
    
}






.middle-area > div:nth-child(2){
    flex-basis:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-area > div:nth-child(2) p{
    text-decoration: underline;
    display: flex;
    padding-bottom: 25px;
}

.middle-area > div:nth-child(2) a{
    display: flex;
    padding-bottom: 25px;
    
}




.middle-area > div:nth-child(3){
    flex-basis:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-area > div:nth-child(3) p{
    text-decoration: underline;
    display: flex;
    padding-bottom: 25px;
}

.middle-area > div:nth-child(3) a{
    display: flex;
    padding-bottom: 25px;
}





.middle-area > div:nth-child(4){
    flex-basis:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-area > div:nth-child(4) p{
    text-decoration: underline;
    display: flex;
    padding-bottom: 25px;
}



.middle-area > div:nth-child(4) a{
    display: flex;
    padding-bottom: 25px;
}

/* aside-area 영역 끝 */





/* content 오른쪽 영역 */

.right{
    width: 100%;
    display: flex;
}


/* 리뷰 content 오른쪽 영역 공백중 제일 왼쪽 */

.right > div:nth-child(1){
    flex-basis:20%;
    /* background-color: blue; */
}

/* 리뷰 content 오른쪽 영역 공백중 제일 오른쪽 */
.right > div:nth-child(3){
    flex-basis:20%;
    /* background-color: green; */
}



/* 리뷰 content 작성되는 영역*/

.right > div:nth-child(2){
    flex-basis:60%;
}



.review-content{
    display: flex;
    flex-direction: column;
}

.review-content1{
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}



.review-content1 > div:nth-child(1){
    display: flex;
    flex-basis: 30%;
    /* border: 1px solid orange; */
    align-items: center;
}



.review-content1 > div:nth-child(2){
    flex-basis: 60%;
    
}

.review-content1 > div:nth-child(3){
    display: flex;
    flex-basis: 10%;
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
}





#con-box{
    
    border: 1px solid black;
    display: flex;
    width: 800px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}






#review-img{
    /* border:1px solid black; */
    width: 100%;
    height: 100%;
    padding-top : 10px;
}


#review-imgBox{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    width: 20%;
    margin-left: 15px;
}

#review-imgExpalin{
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-left : 30px;
}







/* 리뷰 두 번째 박스 (리뷰 작성하는 구간) */


.review-content2 {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}


.review-content2-1{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    
}



.review-content2-1 > div:nth-child(1){
    flex-basis:10%
}

.review-content2-1 > div:nth-child(2){
    flex-basis: 80%
    justify-content: center;
    align-items: center;
}

.review-content2-1 > div:nth-child(3){
    height: 100%;
    width: 100%;
    flex-basis:10%;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    
}

.review-content2-2{
    display: flex;
    flex-basis: 30%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.review-content2-2 > div:nth-child(1){
    flex-basis : 20%;
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: center;
    
}

.review-content2-2 > div:nth-child(2){
    flex-basis: 80%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}




.review-content2-3{
    flex-direction: column;
    display: flex;
    /* border : 1px solid green; */
    flex-basis: 35%
}


.review-file{
    flex-basis : 20%;
    display: flex;
}





.review-img{
    flex-basis: 80%;
    display: flex;
    /* border : 1px solid red; */
    align-items: center;
}









/* 리뷰 세 번째 박스 (취소, 확인 버튼 구간) */

.review-content3{
    display: flex;
    width: 100%;
    flex-basis: 5%;
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.review-content3 button{
    margin-right: 50px;
}




























/* footer 영역 시작 */

/* #footerLogo{
    
    scale: 130%;
} */




.footer{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    
    border: 1px solid rgba(0,0,0,0.1);
}

.footer-1{
    display: flex;
    flex-basis: 70%;
    /* border: 1px solid red; */
}


.footer-1 div{
    justify-content: center;
    align-items: center;
    /* border: 1px  solid blue; */
}

/* 풋터 첫 번째 영역 */

.footer-1 div:nth-child(1){
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}

.footer-1 div > img{
    width: 70%;
    justify-content: center;
    align-items: ceneter;
    padding-top: 10px;
}


/* 풋터 두 번째 영역 */


.footer-1 div:nth-child(2){
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    
}

/* 풋터 세 번째 영역 */

.footer-1 div:nth-child(3){
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    padding-bottom: 13px;
}


/* 풋터 네 번째 영역 */

.footer-1 div:nth-child(4){
    
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-right: 20px;
}



.footer-1 div:nth-child(4) > div{
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-right: 30px;
    
}



.footer-2{
    display: flex;
    flex-basis: 30%;
    border: 1px solid rgba(0,0,0,0.1);
    
}


.footer-2 div{
    display: flex;
    /* border: 1px solid red; */
    flex-basis: 50%
}

.footer-2 div{
    justify-content: space-evenly;
    align-items: center;
    padding-left : 20px;
}





